/* 
cream: #FEE5A3;
darkish cream; #FEE5A3;
dark gold: #D5A45F
brownish: #3C3231;
background: #33333F;
*/ 

* {
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', cursive;
    color: 33333F;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    background-image: url("https://wallpaperaccess.com/full/1189346.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #33333F;
}

#todoListForm, #todoListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    margin: 56px;
    border: 12px solid #D5A45F;
    border-radius: 4px;
}

#todoListForm {
    background-color: #33333F;
    text-align: center;
}

#todoListContainer {
    border: 12px solid #FEE5A3;
    text-align: left;
}

h1 {
    text-transform: uppercase;
    font-size: 80px;
    color: #D5A45F;
    margin-bottom: 32px;
}

h4 {
    color: #FEE5A3;;
    font-size: 40px;
    padding: 8px;
}

#todoList {
    color: #FEE5A3;
}

input, #submit {
    background-color: #F7F0DE;
    border-radius: 2px;
    font-size: 28px;
    text-align: center;
    padding: 8px;
    width: 300px;
}

#submit {
    background-color: #FEE5A3;
    margin: 32px;
    border-radius: 80px;
    height: 140px;
    width: 140px;
    text-align: center;
    opacity: .8;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

#submit:hover {
    cursor: pointer;
    opacity: 1;
    transition: all .25s linear;
}

#todoListContainer {
    background-color: #D5A45F;
}

#todoItemsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h5 {
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h6 {
    font-size: 24px;
    
}

p {
    font-size: 20px;
}

@media only screen and (min-width: 1000px) {
    body {
        grid-template-columns: 1fr 1fr;
    }
}


